<h1>Welcome, <%= @user.username %></h1>

<h4><%= @user.username %>'s rentals</h4>
<%#= render 'suits/suit', obj: @user.suit %>

<p>
    <%= link_to "Back to see all users", users_path %>
</p>
<p>
    <%= link_to "Edit profile", edit_user_path(@user) %>
</p>
<p>
    <%= link_to "Delete user", user_path(@user), method: :delete %>
</p>
